// // mobile
@media screen and (min-width: 320px) and (max-width: 767px) {
  @media screen and (min-device-pixel-ratio: 1),
    screen and (min-resolution: 96dpi),
    screen and (min-resolution: 1dppx) {
    .hero {
      max-width: 767px;
      padding: 118px 0;
      height: 400px;
      text-align: center;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/hero-background_mobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: $second-main-color;
      margin: 0 auto;

      h1 {
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
      }

      .container {
        padding: 0;
        width: 100%;
      }
    }
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      width: 100%;
      max-width: 767px;
      height: 400px;
      padding: 118px 0;
      text-align: center;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/hero-background_mobile@2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: $second-main-color;
      margin: 0 auto;
    }

    .container {
      padding: 0;
    }
  }
}

// tablet
@media screen and (min-width: 768px) and (max-width: 1199px) {
  @media screen and (min-device-pixel-ratio: 1),
    screen and (min-resolution: 96dpi),
    screen and (min-resolution: 1dppx) {
    .hero {
      width: 100%;
      max-width: 1199px;
      padding: 118px 204px;
      text-align: center;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/hero-background_tablet.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: $second-main-color;
      margin: 0 auto;
    }

    .font-900 {
      font-size: 26px;
      line-height: 1.615;
    }
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      width: 100%;
      max-width: 1199px;
      padding: 118px 204;
      text-align: center;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/hero-background_tablet@2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: $second-main-color;
      margin: 0 auto;

      .font-900 {
        font-size: 26px;
        line-height: 1.615;
      }
    }
  }
}

// desktop
@media screen and (min-width: 1200px) {
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      width: 100%;
      max-width: 1600px;
      padding: 200px 0;
      text-align: center;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/hero-background_desktop@2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: $second-main-color;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 1),
    screen and (min-resolution: 96dpi),
    screen and (min-resolution: 1dppx) {
    .hero {
      width: 100%;
      max-width: 1600px;
      padding: 200px 0;
      text-align: center;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/hero-background_desktop.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: $second-main-color;
      margin: 0 auto;
    }
  }
}
