.hero {
  max-width: 1600px;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $second-main-color;
  margin: 0 auto;
}
