.our-clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.clients-list {
  display: flex;

  &-item {
    margin-right: 30px;
    width: 170px;
    height: 90px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid $svg-color-cool;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 2500ms $transform-type;

    &:hover,
    &:hover .social-svg,
    &:focus,
    &:focus .social-svg {
      border-color: $color-hover_focus;
      fill: $color-hover_focus;
    }
  }
}

// mobile
@media screen and (max-width: 479px) {
  .clients-list {
    display: flex;
    flex-direction: column;
    max-width: 210px;
    margin: 0 auto;
  }
  .our-clients-title {
  }
  .clients-list-item {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    margin: 0 auto;
  }
  .our-clients-title {
  }
  .clients-list-item {
    width: 210px;
    margin-bottom: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

// tablet
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 738px;
    margin: 0 auto;
  }
  .our-clients-title {
  }
  .clients-list-item {
    width: 226px;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
