.footer-leftside {
  margin-right: 75px;

  .footer-link {
    display: flex;
    margin-bottom: 20px;

    color: $second-main-color;
    font-family: $font-title;
    letter-spacing: 0.03em;
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  font-style: normal;

  &-item {
    margin: 0 0 9px 0;
  }

  &:last-child {
    margin: 0 0 0 0;
  }
  .city-address {
    color: $second-main-color;
  }
}
