.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $modal-background;
  transition: opacity 250ms $transform-type, visibility 250ms $transform-type,
    pointer-events 250ms $transform-type;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // mobile and tablet
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    width: 100%;
    max-width: 450px;
    height: 95vh;
    max-height: 609px;
    overflow: scroll;
    background: $second-main-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    .form-title {
      margin: 0 0 12px 0;
      font-size: 20px;
      line-height: 1.5;
      text-align: center;
      letter-spacing: 0.03em;
      font-weight: bold;
    }

    .checkbox-text {
      font-size: 12px;
      line-height: 1.167;
      letter-spacing: 0.03em;
      color: $other-text-color;
      justify-content: center;
      margin: 0 0 30px 0;
      display: inline;

      &-link {
        color: $color-hover_focus;
        text-decoration: underline;
        margin-left: 5px;
      }

      &::before {
        display: inline-block;
        content: "";
        width: 16px;
        height: 15px;
        border: 2px solid $main-text-color;
        border-radius: 2px;
        background-image: url("../images/icons/modal-policy-icon.svg");
        background-repeat: no-repeat;
        margin: -1px 7px 0 0;
      }

      &-submit-button {
        font-size: 16px;
        line-height: 1.87;
      }
    }

    .modal-feedback {
      max-height: 138px;
    }
  }

  // desktop
  @media screen and (min-width: 1200px) {
    width: 528px;
    max-height: 581px;
    background: $second-main-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    .form-title {
      margin: 0 0 12px 0;
      font-size: 20px;
      line-height: 1.15;
      text-align: center;
      letter-spacing: 0.03em;
      font-weight: bold;
    }

    .checkbox-text {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: $other-text-color;
      justify-content: center;
      margin: 0 0 30px 0;

      &-link {
        color: $color-hover_focus;
        text-decoration: underline;
        margin-left: 5px;
      }

      &::before {
        content: "";
        width: 16px;
        height: 15px;
        border: 2px solid $main-text-color;
        border-radius: 2px;
        background-image: url("../images/icons/modal-policy-icon.svg");
        background-repeat: no-repeat;
        margin: 3px 7px 0 0;
      }

      .checkbox:checked + &::before {
        background-color: $color-hover_focus;
        border-color: $color-hover_focus;
      }

      .checkbox:focus + &::before {
        border-color: $color-hover_focus;
      }
    }
  }

  &-input,
  &-feedback {
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.01em;
    width: 100%;
    cursor: pointer;
    border: 1px solid $modal-border-color;
    border-radius: 4px;
    box-sizing: border-box;

    &::placeholder {
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.01em;
      color: $modal-placeholder-text;
    }

    &:focus {
      border-color: $color-hover_focus;
      outline: none;
    }
  }

  &-input {
    height: 40px;
    padding: 0 10px 0 42px;

    &:focus ~ .modal-svg {
      fill: $color-hover_focus;
    }
  }

  &-feedback {
    padding: 12px 16px;
    margin: 0 0 20px 0;
    resize: none;
  }

  &-svg {
    fill: currentColor;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(0, -50%);
  }

  &-submit-button {
    max-width: 200px;
    height: 50px;
    padding: 10px 55px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    margin: 0 auto;
    background-color: $color-hover_focus;
    color: $second-main-color;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus {
      outline: none;
      border-color: $color-hover_focus;
      background-color: $modal-submit-button-hover_focus;
      box-shadow: 0px 4px 4px $modal-submit-button-shadow;
    }
  }
}

.modal-icon-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid $modal-svg-border;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-hover_focus;

    .modal-icon-close-svg {
      fill: $second-main-color;
    }

    &-svg {
      fill: currentColor;
    }
  }
}
/* animation for modal close button */
.modal-icon-close,
.modal-icon-close-svg {
  transition: background-color 250ms $transform-type, fill 250ms $transform-type;
}
/* modal-form */
/* add flex to elements of modal-form */
.modal-form,
.modal-form label,
.modal-feedback,
.checkbox-text,
.checkbox-text::before,
.modal-submit-button {
  display: flex;
}

/* add transition to elements */
.modal-input,
.modal-feedback,
.modal-svg,
.checkbox-text::before,
.modal-submit-button {
  transition: border-color 250ms $transform-type, fill 250ms $transform-type,
    background-color 250ms $transform-type, box-shadow 250ms $transform-type;
}

.modal-form {
  flex-direction: column;
  padding: 40px;

  .is-relative {
    position: relative;
  }

  label {
    flex-direction: column;
  }

  .form-text {
    margin: 0 0 4px 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    text-transform: capitalize;
  }
}
////////////////////////
.is-margined {
  margin: 0 0 10px 0;
}

.checkbox:checked + .checkbox-text::before {
  background-color: $color-hover_focus;
  border-color: $color-hover_focus;
}

.checkbox:focus + .checkbox-text::before {
  border-color: $color-hover_focus;
}
