$main-text-color: #212121;
$modal-border-color: #21212133;
$other-text-color: #757575;
$modal-placeholder-text: rgba(117, 117, 117, 0.5);
$color-hover_focus: rgb(32, 148, 243);
$modal-submit-button-hover_focus: rgb(24, 140, 232);
$font-title: "Raleway", sans-serif;
$font-other: "Roboto", sans-serif;
$second-main-color: rgb(255, 255, 255);
$footer-background: rgb(48, 49, 59);
$what-do-we-do-image-text-background: rgba(47, 48, 58, 0.8);
$header-border-bottom-line: rgb(236, 236, 236);
$semi-ld-background: rgb(245, 244, 250);
$border-color: rgb(238, 238, 238);
$svg-color-cool: rgb(175, 177, 184);
$footer-svg-background: rgba(255, 255, 255, 0.1);
$modal-background: rgba(0, 0, 0, 0.2);
$transform-type: cubic-bezier(0.4, 0, 0.2, 1);
$background-portfolio-cards: rgba(33, 150, 243, 0.9);
$modal-svg-border: rgba(0, 0, 0, 0.1);
$modal-submit-button-shadow: rgba(0, 0, 0, 0.15);
$footer-input-border: rgba(255, 255, 255, 0.3);
$footer-mail-color: rgba(255, 255, 255, 0.6);
